apiVersion: apps/v1
kind: Deployment
metadata:
  name: spc-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: gani
          image: gani1990/petclinic-working:1.0.0-61
          resources:
            limits:
              memory: "512Mi"
              cpu: "1"
          ports:
            - containerPort: 8080
